*.pyc
*.swp
*.swo
*.orig
*.bak
*.jar
*.class
*.scr
*.DS_STORE
*.sp
*.tmp
*.iml
.project
.pydevproject
.idea
.settings
.classpath
.DS_Store
._.DS_Store

*.db
*.log
doc/sphinx/build/
env/
venv/
build/

settings/*local*

.coverage
htmlcov
reports

src/media
